@use "global" as *;
.about-us-decoration {
  display: none;
}

@include mq("md") {
  .about-us-decoration {
    position: absolute;
    display: block;
    width: 13.6%;
    right: 5.7%;
    bottom: 10.5%;
  }
}
