@use "global" as *;
.voice-section {
  padding: rem(140) 0 rem(140) 0;
}

@include mq("md") {
  .voice-section {
    background-image: url(../..//assets/images/common/voice-fish.svg),
      url(../..//assets/images/common/voice-tatsu.svg);
    background-position: 8% 2.5%, 87.3% 91.2%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }
}
