@use "global" as *;

.btn-arrow {
  display: inline-block;
  width: rem(40);
  height: auto;
  margin-left: rem(8);
}
.btn-arrow img {
  display: inline-block;
  width: rem(40);
  height: auto;
  left: 0;
  position: absolute;
}
