@use "global" as *;

.btn {
  width: rem(202);
  display: inline-block;
  padding: rem(20) 0;
  color: $white;
  background-color: $green;
  line-height: 1;
  text-align: center;
  font-size: rem(14);
  font-family: $second-font-family;
  position: relative;
}
.btn::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: -4px;
  right: -4px;
  left: 4px;
  border: solid rem(1) $green;
  z-index: -1;
}

.btn:hover {
  background: $white;
  color: $green;
  fill: $green;
  border: solid rem(1) $green;
  transition: all 0.5s ease 0s;
}
