@use "global" as *;

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
}
.cards-wrapper {
  width: 100%;
  max-width: rem(1080);
  margin: rem(40) auto rem(80) auto;
}

@include mq("md") {
  .cards {
    flex-direction: row;
    column-gap: rem(40);
  }
}
