@use "global" as *;
.card__price-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: rem(25);
  margin-left: rem(19);
  align-items: flex-end;
}
.card__price-after {
  margin: rem(8) 0 0 0;
  display: inline-block;
  font-family: $third-font-family;
  font-size: rem(32);
  font-weight: $bold;
  color: $green;
  line-height: 1;
}
.card__price-before {
  display: inline-block;
  font-family: $third-font-family;
  font-size: rem(24);
  font-weight: $bold;
  color: $black;
  text-decoration: line-through $red;
}
.card__price-text {
  margin-top: rem(16);
  padding: 0 rem(73) 0 rem(57);
}

@include mq("md") {
  .card__price-after {
    font-size: rem(40);
  }
}
