@use "global" as *;

.header__drawer {
  position: relative;
  width: 32px;
  height: 24px;
  cursor: pointer;
}
.header__drawer span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1%;
  background-color: $white;
}
.header__drawer,
.header__drawer span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}
.header__drawer span:nth-of-type(1) {
  top: 0;
}
.header__drawer span:nth-of-type(2) {
  top: 12px;
}
.header__drawer span:nth-of-type(3) {
  bottom: 0;
}

#header__drawer.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(40deg);
  transform: translateY(12px) rotate(40deg);
}
#header__drawer.active span:nth-of-type(2) {
  opacity: 0;
}
#header__drawer.active span:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(-40deg);
  transform: translateY(-11px) rotate(-40deg);
}
@include mq("md") {
  .header__drawer {
    display: none;
  }
}
