@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: rem(80);
  background: rgba($color: $black, $alpha: 0.68);
  z-index: 9999;
}
@include mq("md") {
  .header {
    height: rem(90);
  }
}
