@use "global" as *;

.header-menu-sp {
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  background-color: $green;
  z-index: 10;
  margin-top: rem(-80);
}
@include mq("md") {
  .header-menu-sp {
    display: none;
  }
}
