@use "global" as *;

.section-title-japanese {
  font-weight: $regular;
  font-size: rem(12);
  color: $green;
  line-height: 1;
  margin-top: rem(4);
}

.section-title-japanese--header {
  font-size: rem(10);
  color: $white;
}

.section-title-japanese-another-color {
  color: $white;
}

@include mq("md") {
  .section-title-japanese {
    margin-top: rem(8);
  }
}
