@use "global" as *;

.swiper-btn-wrapper {
  display: none;
}
@include mq("md") {
  .swiper-btn-wrapper {
    position: absolute;
    display: grid;
    width: rem(262);
    height: rem(80);
    grid-template-columns: 1fr 1fr;
    column-gap: rem(80);
    right: 11.8%;
    top: 11.2%;
  }
}
